.about-container {
  width: 100vw;
  height: 100vh;
  overflow-y: auto; /* Permettre le défilement vertical */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/assets/images/salle_Arcadia_2.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
}

.full-page-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: none; /* Masquer l'image si elle est juste pour le fond */
}

.welcome-image {
  width: 100%;
  height: auto;
  max-width: 600px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.about-content {
  background: rgba(0, 0, 0, 0.7); /* Fond semi-transparent pour rendre le texte lisible */
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  margin: 20px;
  overflow-y: auto; /* Permettre le défilement interne si nécessaire */
}

.about-content h1,
.about-content h2,
.about-content p,
.about-content ul {
  margin-bottom: 20px;
}

.about-content ul {
  list-style-type: disc;
  padding-left: 20px;
}
