.about-container {
  width: 100vw;
  height: 70vh;
  overflow-y: auto; /* Permettre le défilement vertical */
  display: flex;
  justify-content: center;
}

.about-content div {
  background: #a14ed9;
  padding: 20px;
  border-radius: 10px;
  max-width: 80vw;
  max-height: 100%;
  margin: 10px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.about-content h1,
.about-content h2,
.about-content p,
.about-content ul {
  margin-bottom: 10px;
  text-align: center;
}

.about-content img {
  width: 30vw;
  height: auto;
}
