* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.7;
  color: #eee;
  margin: 0;
}

#root {
  height: 100vh;
  background-image: url("/assets/salle_Arcadia_2.jpg");
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
