* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --color1-: #a14ed9c7;
  --color2-: #c90000da;
  --color3-: rgba(120, 120, 120, 0.644);
  --color4-: #eee;
  --color5-: #bc85f2;
  --color6-: #302559;
  --color7-: #044bd9;
  --color8-: #f2c53d;
  --color9-: #a14ed9;
  --color10-: #d90b1c;
  --color11-: #8c4e37;
  --color12-: #05aff2;
  --color13-: #683ca6;
  --color14-: #db2fcd;
  --color15-: #a53344;
  --color16-: #2797a6;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.7;
  color: #eee;
  margin: 0;
}

#root {
  min-height: 100vh;
  background-image: url("/assets/salle_Arcadia_2.jpg");
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: url("../public/assets/salle_Arcadia_2.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  text-align: center;
}

header {
  margin-bottom: 3rem;
}

.text-box {
  flex-grow: 1;
}

footer {
  color: white;
}
