.gamelist-main {
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
}

.gamelist-main h1 {
  color: rgb(247, 247, 247);
  margin-top: 10px;
}

.gamelist-main button h2 {
  color: #a14ed9dc;
  position: relative;
  top: 140px;
}

.game-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.game-card {
  width: 25vw;
  margin: 1rem;
  box-sizing: border-box;
  padding: 1rem;
  position: relative;
  background-color: transparent;
  border: none;
}

.game-card img {
  width: 100%;
  height: auto;
  display: block;
  background-color: transparent;
  border: none;
  box-shadow: 0px 0px 5px 5px #ffffff6b;
}

.game-card button {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: transparent;
}

.gamelist-main h2 {
  font-size: 250%;
}

@media screen and (max-width: 992px) {
  .gamelist-main {
    display: none;
  }
  .mobiledev {
    width: 80vw;
    max-width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #a14ed9dd;
    padding: 20px;
    border-radius: 20px;
    margin: 0 auto;
    border: 2px solid black;
    box-shadow: 0px 0px 5px 5px #ffffff6b;
    text-align: center;
    font-size: 16px;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 992px) {
  .mobiledev {
    display: none;
  }
}
