.header {
  width: 100vw;
  display: grid;
  grid-template-columns: 44% 12% 44%;
  grid-template-rows: 10vh;
  justify-content: center;
}

img {
  display: grid;
  grid-column: 2 / 3;
  height: 180px;
  justify-self: center;
}

.headerconnexion {
  display: grid;
  grid-column: 3 / 4;
}
