.mainprofil {
  height: 100vh;
  display: flex;
}

.profil h1 {
  text-align: center;
  font-size: 40px;
}

.profilform {
  background-color: var(--color1-);
  box-shadow: 1px 1px 20px 20px var(--color1-);
  display: flex;
  flex-direction: column;
  padding: 1em 2.5em 1em 2.5em;
  border-radius: 10px;
  width: 100%;
  gap: 5px;
  height: 60vh;
  overflow-y: scroll;
  scrollbar-color: var(--color4);
  scrollbar-width: thin;
}

.profilform label {
  color: Black;
  font-size: 20px;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px black;
}

.profilform input {
  width: 400px;
  background: white;
  border: none;
  padding: 0.2em;
  color: black;
  text-transform: lowercase;
  padding-left: 10px;
  padding-top: 3px;
}

.toggle-button button {
  border: none;
  position: relative;
  scale: 1.5;
  top: 28px;
  right: 170px;
  background: transparent;
}
