.mainprofil {
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
}

.profil h1 {
  text-align: center;
  font-size: 40px;
  text-shadow: 1px 1px 2px black;
}

.profilform {
  background-color: #a14ed9e2;
  box-shadow: 0px 0px 5px 5px #ffffff6b;
  display: flex;
  flex-direction: column;
  padding: 1em 2.5em 1em 2.5em;
  border-radius: 10px;
  width: 100%;
  gap: 5px;
  height: 60vh;
  overflow-y: scroll;
  scrollbar-color: var(--color4);
  scrollbar-width: thin;
  border: solid 3px black;
}

.profilform label {
  color: Black;
  font-size: 20px;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px black;
}

.profilform input {
  width: 400px;
  background: white;
  border: none;
  padding: 0.2em;
  color: black;
  text-transform: lowercase;
  padding-left: 10px;
  padding-top: 3px;
}

.toggle-button button {
  border: solid 1px black;
  position: relative;
  padding: 5px;
  scale: 1.2;
  top: 8.5vh;
  right: 4vw;
  background: transparent;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 5px #ffffff6b;
}

@media screen and (max-width: 992px) {
  .mainprofil {
    width: 80vw;
    height: 100vh;
    display: flex;
    justify-content: center;
  }

  .profilform {
    background-color: #a14ed9e2;
    box-shadow: 0px 0px 5px 5px #ffffff6b;
    display: flex;
    flex-direction: column;

    border-radius: 10px;
    width: 100%;
    gap: 5px;
    height: 70vh;
    overflow-y: scroll;
    scrollbar-color: var(--color4);
    scrollbar-width: thin;
    border: solid 3px black;
    align-items: center;
  }
  .profil {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
  }

  .profilform input {
    width: 100%;
    background: white;
    border: none;
    padding: 0.2em;
    color: black;
    text-transform: lowercase;
    padding-left: 10px;
    padding-top: 3px;
    margin-left: 2rem;
    width: 78vw;
  }

  .toggle-button button {
    color: white;
    border: solid 1px rgb(255, 255, 255);
    position: relative;
    padding: 5px;
    scale: 1.2;
    top: 17.5vh;
    right: 15vw;
    background-color: #a14ed9e2;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 5px #ffffff6b;
    z-index: 30;
  }

  .profil h1 {
    font-size: 200%;
    background-color: #a14ed9;
    border-radius: 10px;
    text-shadow: 2px 2px 5px black;
    border: solid 2px black;
    margin-bottom: 1rem;
  }
}
