.profil {
  display: flex;
}

.toggle-button button {
  border: none;
  position: relative;
  top: 5px;
  right: 30px;
  background: transparent;
}

.profilform {
  background-color: #a14ed9c7;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  border-radius: 10px;
  width: 100%;
}
