.main-register {
  display: flex;
  flex-direction: column;
  background-color: #a14ed9c7;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 5px #a14ed9c7;
}

.main-register H1 {
  text-align: center;
  text-shadow: 2px 2px 5px black;
}

.labelgroup {
  display: flex;
  flex-direction: column;
}
.button-link-register {
  margin: 10px;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 10px;
  background-color: #f2d53d;
  border: none;
  color: Black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.button-link-register:hover {
  background-color: #d90b1c;
  scale: 1.2;
}
