.main-register {
  display: flex;
  flex-direction: column;
  background-color: #302559;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 5px #513973;
}

.labelgroup {
  display: flex;
  flex-direction: column;
}
.button-link-register {
  margin: 10px;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 10px;
  background-color: #f2d53d;
  border: none;
  color: Black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.button-link-register:hover {
  background-color: #d90b1c;
  scale: 1.2;
}
