.mainrewards {
  width: 90vw;
  height: 70vh;
  overflow-y: scroll;
  scrollbar-color: var(--color1-) white;
  scrollbar-width: thin;
  display: flex;
  flex-wrap: wrap;
  gap: 3em;
}

.mainrewards h1 {
  margin: 0;
  text-shadow: 2px 2px 5px black;
  width: 100vh;
  text-align: center;
}

.rewards {
  display: flex;
  flex: 1 1 calc(33.33% - 16px);
  position: relative;
  left: 10vw;
  width: 10vw;
  max-height: 60%;
  max-width: calc(27% - 16px);
  align-items: center;
}

.number {
  position: relative;
  bottom: 195px;
  right: 50px;
  color: var(--color1-);
  font-size: 60px;
  text-shadow: black 2px 2px 0px;
}

.points-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 350px;
  padding: 1rem;
}

.points-card img {
  margin-bottom: 1rem;
  box-shadow: 0px 0px 10px 15px var(--color1-);
  width: 250px;
  height: 350px;
}

.points-card button {
  box-shadow: 0px 0px 10px 15px var(--color1-);
  margin-top: auto;
  position: relative;
  width: 10vw;
  font-size: 2vh;
  bottom: 450px;
  text-shadow: var(--color1-) 0px 0px 3px;
}

.mainrewards p {
  text-align: center;
  position: relative;
  bottom: 230px;
  background-color: var(--color1-);
  text-shadow: black 0px 0px 3px;
}
